[Desktop Entry]
X-MultipleArgs=false
Type=Application
Name=DevedeNG
GenericName=DVD/CD Video Creator
X-GNOME-FullName=DevedeNG DVD/CD Video Creator
X-GNOME-FullName[ca]=DevedeNG creador de CD/DVDs de vídeo
X-GNOME-FullName[es]=DevedeNG creador de CD/DVDs de vídeo
X-GNOME-FullName[gl]=DevedeNG creador de CD/DVDs de vídeo
X-GNOME-FullName[pl]=DevedeNG tworzenie wideo na CD/DVD
X-GNOME-FullName[it]=DevedeNG creatore di video CD/DVD
Comment=Allows to create video CDs and DVDs, suitable to be reproduced in home DVD players
Comment[ca]=Permet crear CDs i DVDs de vídeo, que poden reproduir-se en reproductors domèstics
Comment[es]=Permite crear video CDs y DVDs, que pueden reproducirse en reproductores domésticos
Comment[gl]=Permite crear video CDs e DVDs, que poden reproducirse en reproductores domésticos
Comment[pl]=Pozwala stworzyć wideo na płytach CD lub DVD, do otwarzania w domowych odtwarzaczach DVD
TryExec=devede_ng.py
Exec=devede_ng.py
Categories=AudioVideo;
Icon=devedeng
